@import 'base.css';
@import "contentbox.css";
@import "fontColor.css";

a{
    color: var(--color-basic-link);
    text-decoration: none;
}

h1,h2,h3,h4,strong{
    font-weight: bolder;
}
@media only screen and (max-width: 701px) {
    .el-carousel__container,.el-carousel__item{
        height: 25vmin!important;
    }
}

@media only screen and (min-width: 701px) {
    .el-carousel__container,.el-carousel__item{
        height: 25vmin!important;
    }
}
